
/* navbar */
#navigation{
  background-color: #2D2D2F; 
  padding-left: auto;
  position: sticky;
  border-bottom: 20px;
  border-color: #F9FCFC;
  border-bottom-style: line;
}

/* nav links*/

#navlink{
  color: white;
  padding: 11px 35px;
  padding-left: 30px;
}

#navlink:hover {
  color: #20c997;
}


/*hero*/

#hero {
  background-image: url("background.jpg");
  margin: 0%;
  padding: 10%;
  padding-bottom: 27%;
  border-radius: 0%;
  color: transparent;
}

#hero h1 {
  color: #F9FCFC;
  font-weight: bolder;
  font-size: 90px;

}
#hero p {
  padding-top: 0px;
  padding-left: 1%;
  color: #F9FCFC;
  font-weight: thin;
  font-size: 18px;

}


/*about section*/

#about {
  margin: 0%;
  padding: 5%;
  background-color: lightgrey;
  text-align: left;
}

#about h2 {
  margin: 7%;
  margin-bottom: 10%;
  font-size: 55px;
  font-weight: bold;
}

#about .darker {
  color: #1AA37A;
}

#about p {
  margin-left: 7%;
}

#about img {
  /*padding: 10%;*/
  /*padding-top: 80px;*/
  width: 80%;
  max-width: 400px;
  height: auto;
  position: static;
  /*margin-top: 30%;*/
}


/*small works section*/

#smallworks {
  background-color: #dee2e6;
  text-align: left;
}

#smallworks h2{
  margin: 4%;
  margin-bottom: 7%;
  font-size: 30px;
  font-weight: bold;
}

/*works section*/


/* HEADINGs */
#works h2, #smallworks h2{
  margin: 7%;
  margin-bottom: 10%;
  font-size: 55px;
  font-weight: bold;
}

/*for the whole span*/
#works, #smallworks{
  margin: 0%;
  padding: 3%;
}

/* for the individual columns */
#works .thumbnail, #smallworks .thumbnail{
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 2%;
  padding-bottom: 4%;
  position: static;
}

/* image */
#works img, #smallworks img{
  width: 95%;
  max-width: 400px;
  height: auto;
  padding-bottom: 4%;
  position: static;
}


