
/* NAVBAR             --------------------------------------------------*/
.navbar {
  background-color: #2D2D2F; 
  padding-left: 2vw;
  position: sticky;
}

/* nav links*/

.navbar a{
  color: white;
  padding: 11px 2vw;
}

.navbar a:hover {
  color: #20c997;
}


/*HERO                --------------------------------------------------*/

.jumbotron {
  background-image: url("background.jpg");
  margin: 0%;
  padding: 9%;
  padding-top: 17%;
  padding-bottom: 30%;
  border-radius: 0%;
  color: transparent;
  max-height: 723px;
}

.jumbotron h1 {
  color: #F9FCFC;
  font-weight: bolder;
  font-size: 8.7vw;

}
.jumbotron p {
  padding-top: 0px;
  padding-left: 1%;
  color: #F9FCFC;
  font-weight: thin;
  font-size: 18px;

}
/*just for the vision sentence*/
#invisi-link{
  font-weight: normal;
}

#invisi-link2{
  color: #F9FCFC;
  font-weight: bold;
}


/* .row style         --------------------------------------------------*/

.row {
  background-color: white;
  text-align: left;
  padding: 3%;

}


.row h2{
  margin: 7%;
  margin-left: 0%;
  margin-bottom: 10%;
  font-size: 5.5vw;
  font-weight: bold;
}

/* for the individual columns */
.row .thumbnail{
  width: 90%;
  height: auto;
  padding: 2%;
  padding-bottom: 6%;
  position: static;

}

/* image */
.row img{
  width: 95%;
  max-width: 400px;
  height: auto;
  padding-bottom: 4%;
  position: static;
}



/*ABOUT              --------------------------------------------------*/

/* applied to all three about sections*/
.about{
  padding:0%;
  background-color: teal;
  text-align: left;
}

.about h2 {   
  margin: 0%;
  margin-bottom: 5%;
  font-size: 4.5vw;
  font-weight: bold;
}

.about .darker {
  color: #1FC190;
}

.about img {
  width: 80%;
  max-width: 400px;
  height: auto;
  position: static;
  padding-top: 5%;
}

.about .thumbnail{
  margin: 10%;
}


/* im from    -------------------------*/
.im-from {
background-color:  #F8FCFC;
padding-top: 4.5%;
}

.im-from p, h2, h3{
  color: #191C21;
}


/* i like     -------------------------*/
.i-like{
  background-color: #C2C6C6;
  text-align: center;
}

.i-like .thumbnail {
  padding-right: 10%;
}

.i-like h2 {
  text-align: left;
}
.i-like h3 {
  text-align: center;
  font-size: 2.8vw;
}

.i-like a{
  color: #4D9AC6;
}

/*brain image*/
 .i-like img{
  margin-top: 23.5%;
  margin-left: 12%;
 }


/*vision      -------------------------*/
.vision{
  background-color: #F9FCFC;
}

.vision img{
  padding-top: 33%;
}

.vision .thumbnail{
  margin-bottom: 2.5%;
}

/*WORKS               --------------------------------------------------*/

.works .thumbnail{
  float: right;
}

.works h2{
  margin: 6%;
  margin-bottom: 8%;
}



/*SMALLER WORKS       --------------------------------------------------*/

/*for the whole span*/
.smaller-works .thumbnail{
  float: right;
}



/* styling for smallerworks heading*/
.smaller-works h2{
  margin: 6%;
  margin-bottom: 8%;
  font-size: 4vw;
  font-weight: bold;
}





